<ion-content [fullscreen]="true" color="light">
  <div class="main-header"></div>
  <ion-grid>
    <div class="cash-flow">
      <h3>Welcome, John Doe</h3>
    </div>
  </ion-grid>

  <div class="login-container">
    <div class="button-row">
      <ion-button color="primary" shape="round" expand="full" (click)="login()" class="rounded">Login</ion-button>
      <ion-button color="secondary" shape="round" expand="full" (click)="SignUp()" class="rounded">Sign Up</ion-button>
    </div>

    <p style="margin-top: 63px;"><b>Or via Social Media</b></p>
    <div class="social-icons" style="margin-top: 15px;">
      <a href="https://www.facebook.com/"><img src="assets/image/facebook.png" alt="Facebook" style="width: 40px;"></a>
      <a href="https://mail.google.com/"><img src="assets/image/google.png" alt="Google" style="width: 40px;"></a>
      <a href="https://appleid.apple.com/sign-in"><img src="assets/image/apple.png" alt="Apple" style="width: 40px;"></a>      
    </div>
  </div>
</ion-content>