<!-- <ion-content>
  <div class="loading-overlay">
    <img src="assets/image/icons8-wallet-48.png" alt="Wallet Icon" />
    <h2>Welcome to My Wallet</h2>
    <p>Manage your finances seamlessly and securely.</p>
  </div>
</ion-content> -->


<ion-content>
  <div class="loading-overlay">
    <div class="wallet-icon-container">
      <img src="assets/image/icons8-wallet-48.png" alt="Wallet Icon" />
    </div>
    <h2>Welcome to My Wallet</h2>
    <p>Your one-stop solution for managing your finances securely and efficiently.</p>
  </div>
</ion-content>
